<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="http://www.polfed-fedpol.be/favicon.ico" type="image/icon"/>
  <title>COPS - Police Mouscron</title>
  <link rel="stylesheet" href="templates/mytpl/css/style.css">
  <script type="text/javascript" src="./js/zoom5317.js"></script>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <META HTTP-EQUIV="Refresh" CONTENT="60"> 
  </head>

 <body>
 <?php echo $this->appli->activites; ?>

 </body>
 </html>